.DS_Store
.vscode
.vscode/*
node_modules
client/bower_components
npm-debug.log
build
server/config/config.json
colorization
server/libs/demo
server/libs/feature_learning_tests
server/libs/models
server/libs/resources
server/libs/train
server/libs/train_alexnet
server/libs/colorize.py
server/libs/LICENSE
server/libs/README.md