<md-card>
    <md-card-title>
        <md-card-title-text>
            <h3>{{ 'CHOOSE' | translate }}</h3>
            <p>{{ 'CREDS' | translate }}</p>
        </md-card-title-text>
    </md-card-title>
    <md-card-content layout="column">
        <div layout="row">
            <md-checkbox ng-model="normalizeCheck" aria-label="Настройки">
                {{ 'GRAY_NORMALIZE' | translate }}
            </md-checkbox>
            <md-checkbox ng-model="denoiseCheck" aria-label="Настройки">
                {{ 'DENOISE' | translate }}
            </md-checkbox>
        </div>
        <!--<md-input-container class="md-block">
            <label>{{ 'DENOISE_H', | translate }}</label>
            <input type="number" step="any" name="rate" ng-model="denoiseH" min="0" max="100" />
        </md-input-container>-->
        <md-card-actions layout="row" layout-align="start center" flow-init flow-files-submitted="uploadFiles($files, $event, $flow);"
            flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]" flow-name="flow" flow-upload-started="uploadStart($flow);"
            flow-file-success="fileUploadSucces($file, $message)" flow-complete="fileUploadsComplete();">
            <md-button class="md-primary md-raised" type="file" flow-attrs="{accept:'image/*'}" flow-btn>{{ 'BUTTON' | translate }}</md-button>
            <md-button class="md-raised md-warn md-hue-2" ng-click="toggleLng()">{{ $root.language }}</md-button>
        </md-card-actions>
        <div>
            <img id="result" style="max-height:50vh;" />
        </div>
    </md-card-content>
</md-card>